.p{
    font-family: "Roboto";
    font-weight: 700;
}

.t1,.t2{
    margin-top: 100px;
    text-align: center;
    display: block; 
    width: 400px;
    border-radius: 15px;
}

.big,.view{
    display: inline-block;
}

.big{
    font-size: 20px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}

.cname, .view{
    font-size: 15px;
    color: rgb(96, 96, 96);
    margin-top: 5px;
    margin-bottom: 0px;
}

.search-bar{
    display: block;
    font-size: 20px;
    width: 500px;
    border-radius: 200px;
    border-style: solid;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    /* font-weight: bold; */
}

.demo{
    width: 400px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.channel_pic{
    display: inline-block;
    width: 50px;
    margin-left: 10px;
    vertical-align: top;
    /* padding-bottom: 300px; */
}

.video_info{
    display: inline-block;
    width: 300px;
    margin-left: 10px;
}

.work{
    width: 100%;
    border-radius: 25px;
    /* margin-bottom: 80px; */
}

.t_row{
    margin-bottom: 12px;
}