.p{
    font-family: "Roboto";
    font-weight: 700;
}

.t1{
    margin-top: 25px;
    text-align: center;
    display: block; 
    width: 100%;
    /* width: 400px; */
    border-radius: 15px;
}

.big,.view{
    display: inline-block;
}

.big{
    font-size: 20px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}

.cname, .view{
    font-size: 15px;
    color: rgb(96, 96, 96);
    margin-top: 5px;
    margin-bottom: 0px;
}

.video_info{
    margin-left: 10px;
}

.video_info_grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.work{
    width: 100%;
    border-radius: 25px;
}

.t_row{
    margin-bottom: 12px;
}

.main_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}

.header{
    /* height: 40px; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.left-section{
    /* background-color: lightblue; */
    width: 200px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.Hamburger{
    width: 50px;
}

.Youtube{
    width: 150px;
}

.middle-section{
    margin-left: 100px;
    width: 400px;
    margin-right: 60px;
}

.mwork{
    display: inline-block;
    margin-top: 4px;
    margin-left: 53px;
    width: 0px;
    margin-right: 69px;
    width: 0px;
}

.sear, .mic{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mic:hover{
    
}

.awork{
    display: inline-table;
    height: auto;
}

.Search{
    /* margin-top: 20px; */
    width: 50px;
}

.Mice{
    margin-top: 10px;
    width: 70px;
}

.search-bar{
    display: inline-block;
    font-size: 16px;
    width: 560px;
    border-radius: 200px;
    border-style: solid;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.right-section{
    /* margin-left: 50px; */
    background-color: lightblue;
    width: 50px;
}


body{
    margin: 0;
}